body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

#code {
  position: fixed;
  top: 0;
  z-index: 0;
  height: 100%;
  min-width: 100%;
}

#name {
  color: black;
  background-color: #eee;
  z-index: 2;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  position: absolute;
  left: 8px;
  bottom: 178px;
}

#occupation {
  color: #000;
  background-color: #eee;
  z-index: 2;
  font-size: 2rem;
  position: absolute;
  left: 8px;
  bottom: 150px;
  display: block;
  float: left;
}

#occupation > a {
  color: black;
  margin: 5px;
}

.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: .5rem;
}

.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
}

.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}

.projects-slide {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 2em 2em;
}

.projects-slide h1 {
  font-size: 2rem;
}

/* Projects Grid */

#projects {
  display: flex;
  justify-content: space-evenly;
}

.col {
  width: 140px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid black;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  width: auto;
  height: auto;
}

.grid-item img {
  display: block;
  margin: auto;
}

.grid-item span {
  color: black;
}

.grid-text {
  font-weight: bold;
}

.grid-icon {
  height: 50px;
  width: 50px;
}

.grid-line {
  background-color: #000;
  width: 2px;
}

/* Projects Modals */

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */

.modal-header {
  padding: 2px 16px;
  background-color: #eee;
  color: black;
}

/* Modal Body */

.modal-body {
  padding: 15px 16px;
  height: 20vh;
  overflow: auto;
}

.modal-body a {
  font-weight: bold;
}

/* Modal Footer */

.modal-footer {
  padding: 2px 16px;
  background-color: #eee;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: white;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: fadein;
  animation-duration: 0.3s
}

/* Add Animation */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

/* About Me */

#about-me {
  width: 50%;
  text-align: justify;
  line-height: 1.5rem;
}

/* ~Responsive Web Design~ */

/* Styles for mobile */

@media (max-width: 800px) {
  #name {
    position: static;
    margin-bottom: 10px;
  }
  #occupation {
    position: static;
    margin-top: 0px;
  }
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-slide h3 {
    font-size: 2rem;
  }
  .projects-slide h1 {
    font-size: 3rem;
    margin: 1vh;
  }
  .projects-slide h3 {
    font-size: 2rem;
    margin: .25em;
  }
  #tab-es6 {
    padding: 10px;
  }
  .grid-container {
    grid-template-columns: 40% 2px 40%;
    grid-column-gap: 5%;
  }
  .grid-header h3 {
    margin: 0px;
  }
  .grid-icon {
    height: 50px;
    width: 50px;
  }
  .grid-text {
    font-size: 1.2rem;
  }
  .modal-content {
    width: 80%;
  }
  .modal-header h2 {
    font-size: 2rem;
  }
  .close {
    font-size: 2rem;
  }
  .modal-body {
    height: 50vh;
  }
  .modal-body a {
    font-size: 2rem;
  }
  .modal-body p {
    font-size: 1.25rem;
  }
  #about-me {
    width: 95%;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}